[Unit]
Description=Karmen PWS Connector
After=local-fs.target
After=network.target

[Service]
ExecStart=/home/pi/karmen-pws-connector/update.sh
WorkingDirectory=/home/pi/karmen-pws-connector
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
